487-Webclient/web/WEB-INF/wsdl/localhost_8080/487-Loan-Service/LoanService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.loan.pkg487/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.loan.pkg487/" name="LoanService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.loan.pkg487/" schemaLocation="http://localhost:8080/487-Loan-Service/LoanService?xsd=1"/>
</xsd:schema>
</types>
<message name="listLoansByMemberId">
<part name="memberId" type="xsd:int"/>
</message>
<message name="listLoansByMemberIdResponse">
<part name="return" type="tns:loanArray"/>
</message>
<message name="listLoansByBookId">
<part name="bookId" type="xsd:int"/>
</message>
<message name="listLoansByBookIdResponse">
<part name="return" type="tns:loanArray"/>
</message>
<message name="getLoan">
<part name="loanId" type="xsd:int"/>
</message>
<message name="getLoanResponse">
<part name="return" type="tns:loan"/>
</message>
<message name="borrowBook">
<part name="userId" type="xsd:int"/>
<part name="bookId" type="xsd:int"/>
</message>
<message name="borrowBookResponse"/>
<message name="LoanUnvailableException">
<part name="fault" element="tns:LoanUnvailableException"/>
</message>
<message name="returnItem">
<part name="loandId" type="xsd:int"/>
</message>
<message name="returnItemResponse"/>
<message name="updateLoan">
<part name="loanId" type="xsd:int"/>
</message>
<message name="updateLoanResponse"/>
<message name="listLoans"/>
<message name="listLoansResponse">
<part name="return" type="tns:loanArray"/>
</message>
<message name="listMembers"/>
<message name="listMembersResponse">
<part name="return" type="tns:userArray"/>
</message>
<message name="deleteMember">
<part name="userId" type="xsd:int"/>
</message>
<message name="deleteMemberResponse"/>
<message name="UserUnvailableException">
<part name="fault" element="tns:UserUnvailableException"/>
</message>
<message name="deleteLoan">
<part name="loanId" type="xsd:int"/>
</message>
<message name="deleteLoanResponse"/>
<message name="getMember">
<part name="userId" type="xsd:int"/>
</message>
<message name="getMemberResponse">
<part name="return" type="tns:user"/>
</message>
<message name="addMember">
<part name="login" type="xsd:string"/>
<part name="pass" type="xsd:string"/>
</message>
<message name="addMemberResponse"/>
<message name="updateMember">
<part name="userId" type="xsd:int"/>
<part name="login" type="xsd:string"/>
<part name="pass" type="xsd:string"/>
<part name="authLevel" type="xsd:int"/>
</message>
<message name="updateMemberResponse"/>
<portType name="LoanService">
<operation name="listLoansByMemberId">
<input wsam:Action="http://service.loan.pkg487/LoanService/listLoansByMemberIdRequest" message="tns:listLoansByMemberId"/>
<output wsam:Action="http://service.loan.pkg487/LoanService/listLoansByMemberIdResponse" message="tns:listLoansByMemberIdResponse"/>
</operation>
<operation name="listLoansByBookId">
<input wsam:Action="http://service.loan.pkg487/LoanService/listLoansByBookIdRequest" message="tns:listLoansByBookId"/>
<output wsam:Action="http://service.loan.pkg487/LoanService/listLoansByBookIdResponse" message="tns:listLoansByBookIdResponse"/>
</operation>
<operation name="getLoan">
<input wsam:Action="http://service.loan.pkg487/LoanService/getLoanRequest" message="tns:getLoan"/>
<output wsam:Action="http://service.loan.pkg487/LoanService/getLoanResponse" message="tns:getLoanResponse"/>
</operation>
<operation name="borrowBook" parameterOrder="userId bookId">
<input wsam:Action="http://service.loan.pkg487/LoanService/borrowBookRequest" message="tns:borrowBook"/>
<output wsam:Action="http://service.loan.pkg487/LoanService/borrowBookResponse" message="tns:borrowBookResponse"/>
<fault message="tns:LoanUnvailableException" name="LoanUnvailableException" wsam:Action="http://service.loan.pkg487/LoanService/borrowBook/Fault/LoanUnvailableException"/>
</operation>
<operation name="returnItem">
<input wsam:Action="http://service.loan.pkg487/LoanService/returnItemRequest" message="tns:returnItem"/>
<output wsam:Action="http://service.loan.pkg487/LoanService/returnItemResponse" message="tns:returnItemResponse"/>
<fault message="tns:LoanUnvailableException" name="LoanUnvailableException" wsam:Action="http://service.loan.pkg487/LoanService/returnItem/Fault/LoanUnvailableException"/>
</operation>
<operation name="updateLoan">
<input wsam:Action="http://service.loan.pkg487/LoanService/updateLoanRequest" message="tns:updateLoan"/>
<output wsam:Action="http://service.loan.pkg487/LoanService/updateLoanResponse" message="tns:updateLoanResponse"/>
<fault message="tns:LoanUnvailableException" name="LoanUnvailableException" wsam:Action="http://service.loan.pkg487/LoanService/updateLoan/Fault/LoanUnvailableException"/>
</operation>
<operation name="listLoans">
<input wsam:Action="http://service.loan.pkg487/LoanService/listLoansRequest" message="tns:listLoans"/>
<output wsam:Action="http://service.loan.pkg487/LoanService/listLoansResponse" message="tns:listLoansResponse"/>
</operation>
<operation name="listMembers">
<input wsam:Action="http://service.loan.pkg487/LoanService/listMembersRequest" message="tns:listMembers"/>
<output wsam:Action="http://service.loan.pkg487/LoanService/listMembersResponse" message="tns:listMembersResponse"/>
</operation>
<operation name="deleteMember">
<input wsam:Action="http://service.loan.pkg487/LoanService/deleteMemberRequest" message="tns:deleteMember"/>
<output wsam:Action="http://service.loan.pkg487/LoanService/deleteMemberResponse" message="tns:deleteMemberResponse"/>
<fault message="tns:UserUnvailableException" name="UserUnvailableException" wsam:Action="http://service.loan.pkg487/LoanService/deleteMember/Fault/UserUnvailableException"/>
</operation>
<operation name="deleteLoan">
<input wsam:Action="http://service.loan.pkg487/LoanService/deleteLoanRequest" message="tns:deleteLoan"/>
<output wsam:Action="http://service.loan.pkg487/LoanService/deleteLoanResponse" message="tns:deleteLoanResponse"/>
<fault message="tns:LoanUnvailableException" name="LoanUnvailableException" wsam:Action="http://service.loan.pkg487/LoanService/deleteLoan/Fault/LoanUnvailableException"/>
</operation>
<operation name="getMember">
<input wsam:Action="http://service.loan.pkg487/LoanService/getMemberRequest" message="tns:getMember"/>
<output wsam:Action="http://service.loan.pkg487/LoanService/getMemberResponse" message="tns:getMemberResponse"/>
</operation>
<operation name="addMember" parameterOrder="login pass">
<input wsam:Action="http://service.loan.pkg487/LoanService/addMemberRequest" message="tns:addMember"/>
<output wsam:Action="http://service.loan.pkg487/LoanService/addMemberResponse" message="tns:addMemberResponse"/>
</operation>
<operation name="updateMember" parameterOrder="userId login pass authLevel">
<input wsam:Action="http://service.loan.pkg487/LoanService/updateMemberRequest" message="tns:updateMember"/>
<output wsam:Action="http://service.loan.pkg487/LoanService/updateMemberResponse" message="tns:updateMemberResponse"/>
<fault message="tns:UserUnvailableException" name="UserUnvailableException" wsam:Action="http://service.loan.pkg487/LoanService/updateMember/Fault/UserUnvailableException"/>
</operation>
</portType>
<binding name="LoanServicePortBinding" type="tns:LoanService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="listLoansByMemberId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.loan.pkg487/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.loan.pkg487/"/>
</output>
</operation>
<operation name="listLoansByBookId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.loan.pkg487/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.loan.pkg487/"/>
</output>
</operation>
<operation name="getLoan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.loan.pkg487/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.loan.pkg487/"/>
</output>
</operation>
<operation name="borrowBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.loan.pkg487/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.loan.pkg487/"/>
</output>
<fault name="LoanUnvailableException">
<soap:fault name="LoanUnvailableException" use="literal"/>
</fault>
</operation>
<operation name="returnItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.loan.pkg487/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.loan.pkg487/"/>
</output>
<fault name="LoanUnvailableException">
<soap:fault name="LoanUnvailableException" use="literal"/>
</fault>
</operation>
<operation name="updateLoan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.loan.pkg487/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.loan.pkg487/"/>
</output>
<fault name="LoanUnvailableException">
<soap:fault name="LoanUnvailableException" use="literal"/>
</fault>
</operation>
<operation name="listLoans">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.loan.pkg487/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.loan.pkg487/"/>
</output>
</operation>
<operation name="listMembers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.loan.pkg487/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.loan.pkg487/"/>
</output>
</operation>
<operation name="deleteMember">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.loan.pkg487/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.loan.pkg487/"/>
</output>
<fault name="UserUnvailableException">
<soap:fault name="UserUnvailableException" use="literal"/>
</fault>
</operation>
<operation name="deleteLoan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.loan.pkg487/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.loan.pkg487/"/>
</output>
<fault name="LoanUnvailableException">
<soap:fault name="LoanUnvailableException" use="literal"/>
</fault>
</operation>
<operation name="getMember">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.loan.pkg487/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.loan.pkg487/"/>
</output>
</operation>
<operation name="addMember">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.loan.pkg487/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.loan.pkg487/"/>
</output>
</operation>
<operation name="updateMember">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.loan.pkg487/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.loan.pkg487/"/>
</output>
<fault name="UserUnvailableException">
<soap:fault name="UserUnvailableException" use="literal"/>
</fault>
</operation>
</binding>
<service name="LoanService">
<port name="LoanServicePort" binding="tns:LoanServicePortBinding">
<soap:address location="http://localhost:8080/487-Loan-Service/LoanService"/>
</port>
</service>
</definitions>